name: First Workflow
on: workflow_dispatch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Printing Greatings
        run: echo Hello, world!
      - name: Printing Goodbye
        run: |
          echo ${{ vars.STATE }}
