name: First Workflow
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'information'
        type: choice
        options:
          - information
          - debug
          - warning
          - critical
      environment:
        description: 'Environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - qa
          - stg
          - prod

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  first-job:
    runs-on: ubuntu-latest
    environment: tg-gha
    steps:
      - name: Printing Greatings
        run: echo Hello, world!
      - name: Printing Variables
        run: |
          echo ${{ vars.STATE2 }}
      - name: Print the logLevel of run
        run: echo ${{ inputs.logLevel }}
      - name: Print the environment of run
        run: echo ${{ inputs.environment }}
