name: First Workflow
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'information'
        type: choice
        options:
          - information
          - debug
          - warning
          - critical

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  first-job:
    runs-on: ubuntu-latest
    environment: tg-gha
    steps:
      - name: Printing Greatings
        run: echo Hello, world!
      - name: Printing Variables
        run: |
          echo ${{ vars.STATE2 }}
